@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", serif;

}
:root{
    --primary-color: #e01473;
    --font-color: white;
    --header-color: #F00D55;
    --inputbg-color: #262626;
    --input-border-color: #636363;
    --input-focus-border-color: #ff9f1a;
    --input-placeholder-color: #cccccc;
    --error-color: #ff0000;
    --success-color: #00ff00;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(images/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* ################ utility css################ */
.container{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}
.cta-btn{
    background-color: #ea1538;
    color: var(--font-color);
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}
.title{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
/* ################################ header section ############# */
.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    transition: 0.6s;
}
.nav-container ul li{
    position: relative;
    margin: 0 15px;
    font-weight: 700;
}
.nav-container .social-icons a{
    column-gap: 20px;

}

.logo {
    position: relative;
    font-size: 40px;
    cursor: pointer;
    color: var(--font-color);
    font-weight: 600;
}
.logo span{
    color: #F00D55;
    font-weight: 900;
}

.nav-container ul{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.nav-container ul a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;

}
.nav-container ul a:hover{
    color: #F00D55;
}
.social-icons a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    color: var(--font-color);
    padding: 5px;
    cursor: pointer;
    color: #fff;

  
}

/* ################################ about section ################################# */

.hero-container{
    display: flex;
    padding: 15px;
    margin-top: 50px;
}

.hero-container img{
    width: 400px;
    height: auto;
    border-radius: 50px;
}
.hero-container p{
    margin-left: 0px;
    font-size: 20px;
    color: var(--font-color);
    font-family: "Josefin Sans", serif;
    text-align: justify;
    line-height: 1.6;
    max-width: 700px;
    margin-top: 20px;
}
.hero-container h1{
    font-size: 30px;
    color: var(--font-color);
    margin-bottom: 20px;
    font-weight: 900;
}
.hero-container h1 span{
    color: #F00D55;
    font-weight: 900;
}
.hero-content a{
    text-decoration: none;   
}
.hero-content a:hover{
    background-color: #99425d;
    /* transition: color 0.3s ease; */
    font-weight:bolder;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}
.main-content p{
    font-size: 30px;
    color: var(--input-focus-border-color);
    text-align: center;
    line-height: 1.8;
    max-width: 600px;

}
.main-content h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
}
.hero-container .hero-content{
    margin-left: 150px;
}
/* ########## My Bio section ################################# */

.mybio-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 50px;
    gap: 20px;
}

.mybio-container .mybio-image img{ 
    display: block;
    width: 600px;
    height: 650px;
    border-radius: 40%;
}
.mybio-content p{
    margin: 0px opx;
    font-size: 20px;
    color: rgb(214, 206, 206);
    line-height: 1.6; 
    max-width: 600px;
} 
.title span{
    color: #F00D55;
    font-weight: 900;
}
.wrapper{
    margin-top: 10px;
    position: relative;
    width: 100%;
    background-color: var(--inputbg-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgba(104, 103, 103, 0.7);
}
#mybio h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.skills-wrapper{
    padding: 0 10px;
}
.skills-wrapper .bar{
    margin: 10px 0;
}
.skills-wrapper .bar .skills span{
      letter-spacing: 2px;
      text-transform: uppercase;
      color: white;
}
.skills-wrapper .bar .progress-bar{
    width: 100%;
    height: 13px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.skills-wrapper .bar .progress-bar span{
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background-color: var(--input-placeholder-color);
    transform: scale(0);
    transform-origin: left;
    animation: bar-animation 3s forwards;
}
@keyframes bar-animation {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }    
}

/* ########## My Portfolio section ############################# */
#portfolio{
    padding: 40px 0;
}
#portfolio h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: white;
    overflow: hidden;
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            border-radius: 10px;
            display: block;
            transition: transform 0.4s;
            height: 300px;
        }
        .layer{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0%;
            background: linear-gradient(rgba(0, 0, 0, 0.6),#b30f43 );
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 40px;
            text-align: center;
            font-size: 15px;
            transition: height 0.4s;
            h3{
                font-size: 20px;
                font-weight: 600;
                color: white;
            }
            p{
                margin: 20px 0;
            }
            a{
                background: white;
                color: #F00D55;
                font-size: 18px;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                text-align: center;
                line-height: 62px;
            }
            a i{
                font-size: 20px;
            }

        }
    }
    .work:hover img{
        transform: scale(1.1);
    }
    .work:hover .layer{
        height: 100%;
    }
   
}


/* ########### My services section ############################# */
#services{
    padding: 40px 0;
}

#services h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 50px;
    color: white;
    div{
        background-color: var(--inputbg-color);
        padding: 40px;
        font-size: 13px;
        p{
            font-weight: 500;
            line-height: 22px;
        }
        i{
            font-size: 50px;
            color: var(--primary-color);
        }
        h2{
            font-size: 30px;
            font-weight: 600;
            margin-top: 20px 0px;
        }
        border-radius: 10px;
        box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
        -10px -10px 10px -1px rgba(104, 103, 103, 0.7);
        a{
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: var(--primary-color);
            color: white;
            font-weight: 600;
            text-decoration: none;
            border-radius: 30px;

        }
        transition: background 0.4s, transform 0.4s;
    }
    div:hover{
        background: var(--primary-color);
        i{
            color: var(--inputbg-color);
        }
        a{
            background: var(--inputbg-color);
            color: var(--primary-color);
        }
        transform: translateY(-10px);
    }
}

/* ########### My Contact section ############################# */
#contact h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.contact-content{
    padding: 40px 0;
    color: white;
    display: flex;
    .contact-info{
        flex-basis: 40%;
        p{
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0;
        }
       .info i{
            font-size: 30px;
            color: var(--header-color);
            margin-right: 15px;
            transition: transform 0.4s;
        }
        .info i:hover{
            color: var(--input-placeholder-color);
            transform: translateY(-5px);
        }
        a{
            font-size: 30px;
            margin-right: 15px;
            color: var(--input-placeholder-color);
            display: inline-block;
            transition: transform 0.4s;
        }
        a:hover{
            color: var(--header-color);
            transform: translateY(-5px); ;
        }
    }
    .contact-form{
        flex-basis: 60%;
        form{
            width: 100%;
        }

        }
        input, textarea{
            width: 100%;
            padding: 15px;
            margin: 15px 0;
            font-size: 18px;
            color: white;
            border: none;
            background-color: var(--inputbg-color);
            background: var(--inputbg-color);
            border-radius: 8px;
            outline: none;
            resize: none;
        }
        .btn{
            padding: 15px 16px;
            font-size: 18px;
            margin-top: 15px;
            cursor: pointer;
            font-weight: 600;
            background-color: var(--header-color);
            border-radius: 6px;
            border: none;
            color: white;
            transition: background-color 0.5s;
        }
        .btn:hover{
            background-color: var(--inputbg-color);
        }
}














